.user-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 6rem auto 0;
  width: 100%;
  max-width: 30rem;
}

.user-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-card-details {
  padding: 1rem;
}

.user-card-details .detail {
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.user-card-details .detail:last-child {
  margin-bottom: 0;
}

.user-card,
.user-card-details,
.user-card-details .detail {
  border-radius: 0.5rem;
  border: 1px solid var(--light-grey);
}
